@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    var token = HttpContextAccessor.HttpContext.Request.Cookies["authToken"];
}
<ul class="navbar-nav ms-auto">
    @if (isAuthenticated)
{
        <a class="nav-link" style="color: #C6C6C6;" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
}
else
{
        <li class="nav-item">
            <a class="nav-link" style="color: #C6C6C6;" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: #C6C6C6;" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
}
</ul>
